@media only screen and (min-width: 481px) and (max-width: 1366px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
    color: white;
  }
  .body {
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
    color: white;
    background-color: black;
  }

  .main {
    border: 1px;
    height: 100%;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serifs;
  }
  .fa-sun {
    width: 20px;
    height: 20px;
    border: 1px;
    border-style: solid;
    border-radius: 50%;
    background-color: #6b6b6b;
    border-color: #6b6b6b;
    padding: 5px;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 20px;
  }

  .article {
    display: flex;
    flex-direction: row;
  }
  .secttwo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .secttwo h1 {
    font-size: 60px;
    margin-top: 40px;
  }
  .secttwo h1 b {
    color: green;
  }
  .secttwo p {
    width: 650px;
    margin-top: 40px;
  }
  .sect3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  .sect3 ul li {
    list-style: none;
    margin-top: 30px;
    border: 3px;
    border-radius: 1px;
    padding: 10px;
  }
  .sect3 ul li a i {
    margin-right: 8px;
  }
  .sect3 ul li span {
    margin-right: 10px;
  }

  .sect3 ul li:hover {
    border: 3px;
    border-style: ridge;
    border-color: green;
    border-radius: 5px;
    cursor: pointer;
  }

  .sect3 ul {
    text-align: right;
    justify-items: center;
    margin-left: 100px;
  }

  .sect3 ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
  }
  .fa-flask-vial {
    color: green;
  }

  .home {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .home h2 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
  }

  .home hr {
    color: rgb(41, 40, 40);
    font-weight: 2px;
    font-size: 4px;
  }
  #div1 h3 a {
    text-decoration: none;
    color: white;
  }
  #div1 h3 a:hover {
    color: green;
    font-weight: bold;
  }

  #div1 ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  #div1 ul li {
    list-style: none;
    font-size: 15px;
    color: rgb(22, 99, 22);
    border: 1px;
    border-radius: 8px;
    border-style: ridge;
    border-color: rgb(22, 99, 22);
    padding: 4px;
  }
  #div1 ul :hover {
    color: white;
    background-color: green;
    cursor: pointer;
  }
  #div1 p {
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgb(77, 75, 75);
  }

  #div3 h3 a {
    text-decoration: none;
    color: white;
  }
  #div3 h3 a:hover {
    color: green;
    font-weight: bold;
  }

  #div3 ul {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 10px;
    gap: 25px;
  }
  #div3 ul li {
    list-style: none;
    font-size: 15px;
    color: rgb(22, 99, 22);
    border: 1px;
    border-radius: 8px;
    border-style: ridge;
    border-color: rgb(22, 99, 22);
    padding: 4px;
  }
  #div3 ul :hover {
    color: white;
    background-color: green;
    cursor: pointer;
  }
  #div3 p {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(77, 75, 75);
  }
  #div5 h3 a {
    text-decoration: none;
    color: white;
  }
  #div5 h3 a:hover {
    color: green;
    font-weight: bold;
  }

  #div5 ul {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 10px;
    gap: 25px;
  }
  #div5 ul li {
    list-style: none;
    font-size: 15px;
    color: rgb(22, 99, 22);
    border: 1px;
    border-radius: 8px;
    border-style: ridge;
    border-color: rgb(22, 99, 22);
    padding: 4px;
  }
  #div5 ul :hover {
    color: white;
    background-color: green;
    cursor: pointer;
  }
  #div5 p {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(77, 75, 75);
  }

  #allpost {
    text-align: right;
    margin-right: 100px;
    margin-top: 10px;
    font-weight: 200;
  }
  #allpost a {
    text-decoration: none;
    color: rgb(22, 99, 22);
    border: 1px;
    border-bottom-color: rgb(22, 99, 22);
    border-bottom-style: ridge;
    padding: 4px;
  }
  .fa-arrow-right-long {
    font-weight: 10;
    font-size: smaller;
    margin-top: 4px;
    margin-left: 4px;
  }
  #allpost :hover {
    background-color: rgb(22, 99, 22);
    color: white;
  }

  #div6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #div6 h4 {
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  #div6 ul {
    display: flex;
    align-items: first baseline;
    gap: 70px;
    list-style: none;
    margin-bottom: 20px;
  }
  #div6 ul li:hover {
    color: white;
    background-color: green;
    cursor: pointer;
    border: 2px;
    border-radius: 5px;
    padding: 3px;
  }
  .fa-instagram {
    color: red;
  }
  .fa-linkedin {
    color: blue;
  }
  .fa-github {
    color: #6b6b6b;
  }
  #div6 a {
    text-decoration: none;
    color: white;
  }

  #div6 a:hover {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 480px) {
  .body {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .article {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .secttwo {
    margin-top: 10px;
  }
  .secttwo h1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    width: auto;
    text-align: center;
  }
  .secttwo h1 b {
    color: green;
  }
  .secttwo p {
    width: auto;
    margin-top: 5px;
    font-size: medium;
    text-align: center;
  }
  .sect3 {
    display: flex;
    flex-direction: column;
  }
  .sect3 ul {
    text-align: center;
    font-weight: 600;
    font-size: medium;
  }

  .sect3 ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-color: green;
  }
  .sect3 ul li a i {
    margin-right: 5px;
  }
  .sect3 ul li span {
    margin-right: 5px;
  }

  .sect3 ul li:hover {
    cursor: default;
    color: green;
  }
  .sect3 ul li a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
  }
  .sect3 ul li a:hover {
    color: green;
  }

  .fa-flask-vial {
    color: green;
  }
  .fa-flask-vial:hover {
    color: white;
  }

  .fa-book-open {
    color: white;
  }
}
